body {
    margin: 0;
    padding: 0;

    color: white;
}

body * {
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-direction: row;

    background-color: black;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#scanner {
    flex: 1;
}

#hud {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

#radar {
    height: 300px;
    border: 1px solid white;
}

#info-panel {
    flex: 1;
    border: 1px solid white;
}